# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
venv/

# Node.js
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db

#Media files
media/

#my ai files
.my_ai/